body {
    font-family: 'Roboto Mono';
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    body {
        background-image: url("../main.png");
        background-size: 200px;
    }
    
    iframe {
        width: 104%; 
        height: 97%; 
    
        border: 0; 
        padding: 0;
    }
    
    .box {
        position: absolute;
        margin: -81px 0 0 -120px;
        top: 20%;
        left: 16%;
        width: 772px;
        height: 443px;
        
        background: #faf4e6;
        border-radius: 25px;
        box-shadow: 5px 5px #31302c;
        border: 2px solid #31302c;
        overflow: hidden;
    }
    
    .navbar {
        position: inherit;
        margin: -114px 0 0 -75px;
        top: 25%;
        left: 9%;
        width: 101%;
        height: 49px;
        background: #faf4e6;
        border-bottom: 2px solid #31302c;
    }
    
    .dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid #31302c;
        display: inline-block;
        margin-top: 14px;
    }
    
    .dot_close {
        background-color: #f7bc9e;
        margin-left: 20px;
    }
    
    .dot_close:hover {
        background-color: #f3d4d1;
        cursor: pointer;
    }

    .menu {
        position: relative;
        top: -11%;
        left: 19%;
    }
    .menu a {
        color: black;
        font-weight: bolder;
        text-decoration: none;
        background-image: linear-gradient(90deg,#c8b2d1,#c8b2d1);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 2px;
        transition: background-size .3s ease;
    }
    .menu a:hover {
        background-size: 100% 25px;
        transition: background-size .3s ease;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    body {
        background-image: url("../main.png");
        background-size: 200px;
    }
    
    iframe {
        width: 104%; 
        height: 97%; 
    
        border: 0; 
        padding: 0;
    }
    
    .box {
        position: absolute;
        margin: -81px 0 0 -120px;
        top: 24%;
        left: 19%;
        width: 631px;
        height: 351px;
        
        background: #faf4e6;
        border-radius: 25px;
        box-shadow: 5px 5px #31302c;
        border: 2px solid #31302c;
        overflow: hidden;
    }
    
    .navbar {
        position: inherit;
        margin: -114px 0 0 -75px;
        top: 32%;
        left: 11%;
        width: 101%;
        height: 49px;
        background: #faf4e6;
        border-bottom: 2px solid #31302c;
    }
    
    .dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid #31302c;
        display: inline-block;
        margin-top: 14px;
    }
    
    .dot_close {
        background-color: #f7bc9e;
        margin-left: 20px;
    }
    
    .dot_close:hover {
        background-color: #f3d4d1;
        cursor: pointer;
    }

    .menu {
        position: relative;
        top: -14%;
        left: 12%;
    }
    .menu a {
        color: black;
        font-weight: bolder;
        text-decoration: none;
        background-image: linear-gradient(90deg,#c8b2d1,#c8b2d1);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 2px;
        transition: background-size .3s ease;
    }
    .menu a:hover {
        background-size: 100% 25px;
        transition: background-size .3s ease;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    body {
        background-image: url("../main.png");
        background-size: 50px;
    }
    
    iframe {
        width: 102%; 
        height: 97%; 
    
        border: 0; 
        padding: 0;
    }
    
    .box {
        position: absolute;
        margin: -131px 0 0 -207px;
        top: 26%;
        left: 20%;
        width: 1060px;
        height: 510px;
        
        background: #faf4e6;
        border-radius: 25px;
        box-shadow: 5px 5px #31302c;
        border: 2px solid #31302c;
        overflow: hidden;
    }
    
    .navbar {
        position: inherit;
        margin: -145px 0 0 -199px;
        top: 28%;
        left: 18%;
        width: 101%;
        height: 54px;
        background: #faf4e6;
        border-bottom: 2px solid #31302c;
    }
    
    .dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid #31302c;
        display: inline-block;
        margin-top: 20px;
    }
    
    .dot_close {
        background-color: #f7bc9e;
        margin-left: 20px;
    }
    
    .dot_close:hover {
        background-color: #f3d4d1;
        cursor: pointer;
    }

    .menu {
        position: relative;
        top: -10%;
        left: 25%;
    }
    .menu a {
        color: black;
        font-weight: bolder;
        text-decoration: none;
        background-image: linear-gradient(90deg,#c8b2d1,#c8b2d1);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 2px;
        transition: background-size .3s ease;
    }
    .menu a:hover {
        background-size: 100% 25px;
        transition: background-size .3s ease;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    body {
        background-image: url("../main.png");
        background-size: 50px;
    }
    
    iframe {
        width: 102%; 
        height: 97%; 
    
        border: 0; 
        padding: 0;
    }
    
    .box {
        position: absolute;
        margin: -131px 0 0 -187px;
        top: 23%;
        left: 17%;
        width: 1210px;
        height: 594px;
        
        background: #faf4e6;
        border-radius: 25px;
        box-shadow: 5px 5px #31302c;
        border: 2px solid #31302c;
        overflow: hidden;
    }
    
    .navbar {
        position: inherit;
        margin: -145px 0 0 -199px;
        top: 24%;
        left: 16%;
        width: 101%;
        height: 49px;
    
        background: #faf4e6;
    
        border-bottom: 2px solid #31302c;
    }
    
    .dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid #31302c;
        display: inline-block;
        margin-top: 20px;
    }
    
    .dot_close {
        background-color: #f7bc9e;
        margin-left: 20px;
    }
    
    .dot_close:hover {
        background-color: #f3d4d1;
        cursor: pointer;
    }

    .menu {
        position: relative;
        top: -11%;
        left: 29%;
    }
    .menu a {
        color: black;
        font-weight: bolder;
        text-decoration: none;
        background-image: linear-gradient(90deg,#c8b2d1,#c8b2d1);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 2px;
        transition: background-size .3s ease;
    }
    .menu a:hover {
        background-size: 100% 25px;
        transition: background-size .3s ease;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    body {
        background-image: url("../main.png");
        background-size: 50px;
    }
    
    iframe {
        width: 101%; 
        height: 97%; 
    
        border: 0; 
        padding: 0;
    }
    
    .box {
        position: absolute;
        margin: -131px 0 0 -187px;
        top: 20%;
        left: 15%;
        width: 1438px;
        height: 700px;
        
        background: #faf4e6;
        border-radius: 25px;
        box-shadow: 5px 5px #31302c;
        border: 2px solid #31302c;
        overflow: hidden;
    }
    
    .navbar {
        position: inherit;
        margin: -145px 0 0 -199px;
        top: 20%;
    left: 13%;
        width: 101%;
        height: 49px;
    
        background: #faf4e6;
    
        border-bottom: 2px solid #31302c;
    }
    
    .dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid #31302c;
        display: inline-block;
        margin-top: 20px;
    }
    
    .dot_close {
        background-color: #f7bc9e;
        margin-left: 20px;
    }
    
    .dot_close:hover {
        background-color: #f3d4d1;
        cursor: pointer;
    }

    .menu {
        position: relative;
        top: -11%;
        left: 31%;
    }
    .menu a {
        color: black;
        font-weight: bolder;
        text-decoration: none;
        background-image: linear-gradient(90deg,#c8b2d1,#c8b2d1);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 2px;
        transition: background-size .3s ease;
    }
    .menu a:hover {
        background-size: 100% 25px;
        transition: background-size .3s ease;
    }
}

svg { transition: fill .4s ease; }
svg:hover {
    fill: #e0c3eb;
}

